.nav-bar {
	width: 100%;
	display: flex;
	background-color: #585656;
	color: white;
	justify-content: space-between;
	align-items: center;
}

.nav-bar p {
	margin-left: 10px;
	font-weight: 900;
	font-size: 20px;
}

a {
	margin-right: 10px;
}

a:hover {
	text-decoration: underline;
}

